@model App.Domain.Event

@{
    ViewData["Title"] = "Kustuta üritus";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <h2 class="text-center mb-4">Kas oled kindel, et soovid selle ürituse kustutada?</h2>

            <div class="card shadow-sm">
                <div class="card-header bg-darker-primary">
                    <h5 class="card-title">@Model.Name</h5>
                </div>
                <div class="card-body">
                    
                    <p class="card-text">
                        <strong>Toimumise aeg:</strong> @Model.DateTime.ToString("dd.MM.yyyy")<br/>
                        <strong>Asukoht:</strong> @Model.Location<br/>
                        <strong>Lisainfo:</strong> @Model.AdditionalInfo
                    </p>

                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="Id"/>

                        <div class="d-flex mt-4">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary me-1">Tagasi</a>
                            <button type="submit" class="btn btn-danger">Kustuta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
