<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div class="container d-flex align-items-center justify-content-between h-100">
        <div class="d-flex align-items-stretch h-100">
            <div class="d-flex align-items-center h-100" style="margin-right: 20px;">
                <img src="~/img/logo.svg" alt="Logo" style="height: 50px;" />
            </div>
            <nav class="nav">
                <a class="nav-link d-flex align-items-center justify-content-center bg-primary text-white h-100" asp-controller="Home" asp-action="Index">AVALEHT</a>
                <a class="nav-link d-flex align-items-center justify-content-center h-100" asp-controller="Events" asp-action="Create">ÜRITUSE LISAMINE</a>
            </nav>
        </div>

        <!-- IKoon -->
        <div>
            <img src="~/img/symbol.svg" alt="Symbol" style="height: 50px;" />
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>