<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div class="container d-flex align-items-center justify-content-between h-100">
        <div class="d-flex align-items-stretch h-100">
            <div class="d-flex align-items-center h-100" style="margin-right: 20px;">
                <img src="~/img/logo.svg" alt="Logo" style="height: 50px;" />
            </div>
            <nav class="nav">
                <a class="nav-link d-flex align-items-center justify-content-center h-100 @(ViewContext.RouteData.Values["controller"]!.ToString() == "Home" ? "bg-darker-primary text-white" : "text-dark") " asp-controller="Home" asp-action="Index">AVALEHT</a>
                <a class="nav-link d-flex align-items-center justify-content-center h-100 @(ViewContext.RouteData.Values["controller"]!.ToString() == "Events" ? "bg-darker-primary text-white" : "text-dark")" asp-controller="Events" asp-action="Create">ÜRITUSE LISAMINE</a>
            </nav>
        </div>

        <!-- IKoon -->
        <div>
            <img src="~/img/symbol.svg" alt="Symbol" style="height: 50px;" />
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Curabitur</h5>
                <ul class="list-unstyled">
                    <li>Emauris</li>
                    <li>Kfringilla</li>
                    <li>Oin magna sem</li>
                    <li>Kelementum</li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>Fusce</h5>
                <ul class="list-unstyled">
                    <li>Econstectur</li>
                    <li>Ksollitcudin</li>
                    <li>Omvulputate</li>
                    <li>Nunc fringilla tellu</li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>Kontakt</h5>
                <ul class="list-unstyled">
                    <li><strong>Peakontor: Tallinnas</strong></li>
                    <li>Väike-Ameerika 1, 11415 Tallinn</li>
                    <li>Telefon: 605 4450</li>
                    <li>Faks: 605 3186</li>
                </ul>
            </div>
            
            <div class="col-md-3">
                <h5 class="invisible">Pealkiri</h5>
                <ul class="list-unstyled">
                    <li><strong>Harukontor: Võrus</strong></li>
                    <li>Oja tn 7 (külastusaadress)</li>
                    <li>Telefon: 605 3330</li>
                    <li>Faks: 605 3155</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>