@model App.Domain.EventParticipant

@{
    ViewData["Title"] = "Osav천tja kustutamine";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <h2 class="text-center mb-4">Kas oled kindel, et soovid selle osav천tja kustutada?</h2>

            <div class="card shadow-sm">
                @* <div class="card-header bg-darker-primary text-white"> *@
                @*     <h5 class="card-title"> *@
                @* *@
                @*     </h5> *@
                @* </div> *@
                <div class="card-body">
                    <p class="card-text">
                        <strong>Osav천tja info:</strong> @(
                                                            Model.Participant is App.Domain.PrivatePerson p
                                                                ? $"{p.FirstName} {p.LastName}, {p.PersonalCode}"
                                                                : (Model.Participant is App.Domain.LegalPerson l ? $"{l.CompanyName} {l.RegistryCode}" : "Tundmatu osav천tja")
                                                            )
                    </p>

                    <form asp-action="Delete"  method="post">
                        <input type="hidden" asp-for="Id" />

                        <div class="d-flex mt-4">
                            <a asp-controller="EventParticipants" asp-action="Index" asp-route-eventId="@Model.EventId" class="btn btn-secondary me-2">
                                Tagasi
                            </a>
                            <button type="submit" class="btn btn-danger">Kustuta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
